.aloha {
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    margin-left: 5px;
}

.logo {
    width: 30%;
    padding: .5rem;
}

.cart {
    width: 13%;
    padding: .5rem;
    justify-self: end;
}

hr {
    color: lightgray;
    margin: 0 10px;
    ;
}

.links {
    margin: .5em;
    display: flex;
    grid-row: 1;
    justify-content: space-evenly;
}

.section1 {
    /*display: flex;
     grid-row: 1; 
    grid-column: 1;*/
}

.flower {
    position: relative;
}

.girl {
    z-index: 500;
}

.section1 img
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
footer {
    background: black;
    color: white;
    text-align: center;
}
.fa {
    color: white;
}