@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url(/fonts/PlayfairDisplay-Bold.otf)
}

@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url(/fonts/PlayfairDisplay-BoldItalic.otf)
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url(/fonts/PlayfairDisplay-Italic.otf)
}

@font-face {
    font-family: 'PlayfairDisplay-Italic-Bold';
    src: url(/fonts/PlayfairDisplay-Italic-Bold.otf)
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(/fonts/PlayfairDisplay-Regular.otf)
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(/fonts/Raleway-Light.otf)
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src: url(/fonts/Raleway-LightItalic.otf)
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(/fonts/Raleway-Medium.otf)
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url(/fonts/Raleway-MediumItalic.otf)
}

html,
body {
    box-sizing: border-box;
    margin: 0 3%;
}

body {
    font-family: 'Raleway-Light', Helvetica, sans-serif;
    font-size: 14px;
    color: #2d2d2d;
    text-align: center;
}

h1,
h2 {
    font-family: 'PlayfairDisplay', Helvetica, sans-serif;
}

body img {
    width: 100%;
}

a {
    text-decoration: none;
}

.aloha {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    margin-left: 5px;
}

.logo {
    width: 38%;
    padding: .9rem;
}

.cart {
    padding: 1rem;
    width: 15%;
    justify-self: end;
}

hr {
    color: #969696;
    margin-top: -10px;
    width: 94%;
}

.links {
    display: flex;
    grid-row: 1;
    justify-content: space-evenly;
    color: #e2574c;
}

ul {
    list-style-type: none;
}

.links a {
    color: e2547c;
}

a:hover {
    color: #b64036;
}

.section1 {
    margin-top: 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlay";
    height: auto;
}

.flower {
    /* height: auto; */
    grid-area: overlay;
    align-self: end;
    justify-self: center;
}

.girl {
    max-width: 23%;
    grid-area: overlay;
    align-self: end;
    justify-self: center;
}

.text {
    margin-top: 1em;
    grid-area: overlay;
    color: white;
    align-self: center;
    justify-self: center;
}

.section1 p {
    margin-top: 1em;
    margin-right: 2%;
    font-size: 1.2em;
    ;
    font-family: 'Raleway-Medium';
}

.handcrafted {
    text-align: center;
    margin-top: 3em;
    width: 100%;
}

.handcrafted span {
    font-family: 'PlayfairDisplay-Italic';
    font-weight: normal;
}

.handcrafted p {
    line-height: 200%;
    font-weight: lighter;
    font-size: 85%;
    margin-bottom: 5%;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "mens mens" "trends glasses" "sales bags" "womens womens";
    grid-gap: .5em
}

.products a {
    color: white;
}

.mens {
    grid-area: mens;
}

.men {
    grid-area: mens;
    align-self: center;
    justify-self: center;
}

.trends {
    grid-area: trends;
}

.trend {
    grid-area: trends;
    align-self: center;
    justify-self: center;
}

.glasses {
    grid-area: glasses;
}

.glass {
    grid-area: glasses;
    align-self: center;
    justify-self: center;
}

.sales {
    grid-area: sales;
}

.sale {
    grid-area: sales;
    align-self: center;
    justify-self: center;
}

.bags {
    grid-area: bags;
}

.bag {
    grid-area: bags;
    align-self: center;
    justify-self: center;
}

.womens {
    grid-area: womens;
}

.women {
    grid-area: womens;
    align-self: center;
    justify-self: center;
}

.loved {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.most-loved {
    font-family: 'PlayfairDisplay-Italic';
    font-weight: normal;
}

.mobileHidden {
    display: none;
}

.circles {
    text-align: center;
}

.dot {
    height: 9px;
    width: 9px;
    background-color: #969696;
    border-radius: 50%;
    display: inline-block;
}

.dot:nth-child(3) {
    background-color: #242424;
}

.signup {
    position: relative;
    margin-top: 2rem;
}

.signup img {
    height: 14rem;
}

.signup-overlay {
    position: absolute;
    top: 1rem;
    width: 100%;
    color: white;
    line-height: 150%;
}

.youremail {
    position: relative;
    width: 90%;
    height: 3em;
    border: none;
    border-radius: 4rem;
}

.submit-js {
    position: absolute;
    right: 1.6em;
    bottom: .4em;
    height: 2.5em;
    width: 6em;
    background: #e2574c;
    color: white;
    border-radius: 4em;
}

.footer-about {
    position: relative;
    background: black;
    color: white;
    text-align: center;
    height: 18rem;
}

.fa {
    display: inline;
}

.fa {
    color: white;
}